header.archive h2{
  margin: 100px 0;
  font-size: 70px;
}
header.archive .filter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 35px 0;
  background: #1C1C1C;
}
.main{
  padding: 0 5vw
}
.main{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3vw;
}
.main .cardList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 3vw;
}
.numfilter{
  background: #1C1C1C;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
.numfilter h3{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.nums{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.numcontainer{
  background: black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.monthselect span{
  color: #C4A183;
}
.numfilter .date{
  display: grid;
  grid-template-columns: 1fr 1fr
}
.numfilter em{
  font-size: 40px;
  text-align: center;
  color: #C4A183;
}
.selectguestnum{
  display: grid;
  grid-template-columns: 1fr 1fr
}
.main .card{
  color: white;
  border: solid 3px silver
}
