*{
  display: block;
}
h4{
  font-size: 30px;
  margin-bottom: 20px
}
.img{
  overflow: hidden;
}
.img img{
  height: 100%;
  width: 100%;
}
title{
  display: none
}
button{
  font-weight: bold;
  margin-top: 30px
}
a{
  text-decoration: none;
  color: black
}
cite{
  display: inline-block;
  font-weight: lighter;
  font-size: 10px;
  color: #8D8D8D;
  margin-bottom: 10px
}
h3{
  font-size: 50px;
  margin-bottom: 50px
}
span{
  color: #8D8D8D
}
.line{
  width: 30px;
  height: 3px;
  background: gray;
  margin: 20px 0 10px 0;
}
.read{
  height: 40px;
  width: 150px;
  background: white;
  border: 4px solid #AE8F7B;
}
.buy{
  background: black;
  padding: 20px 35px;
  border: 0;
  color: white;
}
.nav .info{
  padding: 0 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #919191;
  justify-items: center;
  align-items: center;
  grid-gap: 10vw
}
.nav a{
  text-decoration: none;
  color: #919191
}
.nav .pageStat{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw
}
.nav .accStat{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3vw;
  align-items: center;
}
.nav .pay *, .nav .terms *, .nav .mail *, .account *, .nav a{
  display: inline-block;
  white-space: nowrap;
}
.accStat .account{
  display: grid;
  grid-template-columns: 30px 1fr
}
.account a{
  display: block;
}
.nav .lang *{
  display: inline-block;
}
.nav .account{
  background: #B99982;
  justify-items: center;
  height: 80%;
  align-items: center;
  padding: 5px;
}
.account span{
  color: white
}
.account a{
  color: white
}
.accImg{
  height: 20px;
  width: 20px;
  background: brown
}
nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #979797;
  background: #1C1C1C;
  padding: 25px 5vw
}
h1{
  font-size: 20px;
  color: white;
}
.logo sub{
  color: white;
  font-size: 10px;
  justify-items: center;
}
nav ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr)
}
header .content{
  display: grid;
  justify-items: center;
  background-image: url("../res/EEEE.jpg");
  color: white;
  padding: 75px 0;
}
header cite{
  color: white;
  padding-bottom: 20px
}
header .text button{
  background: none;
  border: 5px solid white;
  padding: 15px 35px;
  color: white;
  margin-left: 18vw;
  margin-bottom: 100px;
}
h2{
  font-size: 50px;
  margin-bottom: 65px
}
.checkInOut{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background: white;
  color: black;
  padding: 30px 75px;
}
.checkInOut em{
  font-size: 30px
}
.checkInOut i{
  color: gray
}
.check h3{
  color: #8D8D8D;
  padding: 10px;
  font-size: 20px
}
.check .time{
  display: grid;
  grid-template-columns: 1fr 1fr
}
.checkInOut button{
  background: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding:30px;
  margin: 0
}
.guests{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px
}
.guests i{
  display: block;
}
.bayview{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 5vw;
  height: 100vh
}
.bayview cite{
  margin-top: 20px;
}
.bayview h3{
  margin-bottom: 30px
}
.bayview button{
  border: none;
  background: #AE8F7B;
  padding: 15px 35px;
  color: white
}
.bayview .text{
  display: grid;
  align-items: center;
}
.best{
  background: #F9F9F9;
  padding: 70px 5vw
}
.best .grid, .best .grid .cardList, .best .desc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw
}
.best h3, .best cite{
  text-align: center;
  display: grid;
  justify-content: center;
}
.best .line{
  margin-left: 43.4vw
}
.best .img, .best .card{
  color: white
}
.best .img .desc{
  display: grid;
  position: absolute;
  bottom: 25px
}
.best .detail .room{
  background: white;
  padding: 20px;
}
.best .detail .review{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
.best .cardList .card{
  height: 200px;
  width: 200px;
  overflow: hidden;
  position:  relative;
  background: black
}
.best .card img{
  width: 100%
}
.best .card .text{
  position: absolute;
  bottom: 20px
}
.discover{
  display: grid;
  grid-template-columns: 1fr 1fr
}
.discover h3{
  color: white
}
.discover h3 span{
  color: #B49F80
}
.discover .text{
  background: #1C1C1C;
  padding: 95px 5vw
}
.extra{
  padding: 70px 10vw
}
.cardListL{
  padding: 60px 5vw;
  background: #F9F9F9
}
body .cardListL .cardlist{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white
}
.cardListL .cardlist .text{
  padding: 30px
}
.video{
  color: white;
  display: grid;
  justify-items: center;
  background: black;
  grid-gap: 100px
}
.video h3{
  margin-top: 100px
}
.video i{
  font-size: 150px;
}
.news{
  padding: 70px 10vw;
  background: #F9F9F9
}
.news .cardList{
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-items: space-between;
}
#body .news .card{
  margin-bottom: 30px;
  width: 20vw;
  margin-right: auto;
}
#body .news .cardList:last-child{
  margin-right: 0;
}
.news .card .text{
  padding: 20px
}
.news .buy{
  height: 100px;
  background: black
}
.news .cited{
  background: #B8987F;
  padding: 20px
}
.news .imgCard .img{
  position: relative;
}
.news .imgCard .text{
  position: absolute;
}
footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #1C1C1C;
  padding: 70px 10vw;
}
footer h3{
  color: white;
  font-size: 35px;
}
footer .weather em{
  font-size: 20px;
  color: white
}
footer cite{
  font-size: 15px
}
footer button{
  padding: 15px 35px;
  background: #B8987F;
  border: none;
  color: white;
  margin:0;
  margin-left: 5px
}
footer form{
  display: grid;
  grid-template-columns: 1fr 1fr
}
footer .info{
  display: grid;
  grid-template-columns: 30px 30px 30px;
  color: white
}
footer .info span{
  font-size: 10px
}
